.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.rowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.colCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.element {
  @apply h-screen w-full;
  /* p-[5vh]; */
}
.bg {
  @apply bg-gradient-to-br from-primary to-secondary;
}

.title {
  font-size: 2em;
  font-weight: 300;
  margin: 0.5em 0;
}
.heading1 {
  @apply sm:text-5xl text-2xl font-bold uppercase;
}

.active {
  @apply scale-105 text-black font-semibold p-2;
}
.inactive {
  @apply cursor-pointer font-mono text-lg text-slate-500 uppercase;
}
.bold {
  @apply font-semibold text-lg;
}
.borders {
  @apply border-2 border-black;
}
.socials {
  @apply rounded-full shadow-lg shadow-gray-400 p-1 cursor-pointer hover:scale-110 ease-in duration-300 mx-2;
}
.about a {
  @apply text-sm pl-2 p-1 text-white first-letter:uppercase lowercase;
}
.drawer {
  @apply text-white px-2 ease-in duration-500 w-[75%] sm:w-[60%] md:w-[45%] h-screen bg-black fixed;
}