.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.element {
  @apply h-screen w-full;
   /* p-[5vh]; */
}

.rowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.colCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2em;
  font-weight: 300;
  margin: 0.5em 0;
}

.active {
  @apply scale-105 text-black font-semibold p-2;
}
.bold {
  @apply font-semibold text-lg;
}
.borders {
  @apply border-2 border-black;
}
