@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  @apply bg-gradient-to-br from-primary to-secondary;

  @apply w-full;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* @apply bg-gradient-to-br from-[#efdece] to-[#b59f89]; */
  @apply w-[95vw] p-0 m-0 overflow-x-hidden;
}
body::-webkit-scrollbar {
  @apply bg-transparent w-[1vw] hidden;
}

body::-webkit-scrollbar-thumb {
  /* background-color: #eab308; */
  @apply bg-primary;
}
html {
  scroll-behavior: smooth;
}

p,
h1 {
  @apply font-mono;
}

li {
  @apply text-sm p-2;
}
.sections {
  @apply w-[95vw] px-[3vw] pt-[5vh] mx-[2vw] overflow-clip;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    @apply bg-gradient-to-br from-[#efdece] to-[#b59f89];
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    @apply bg-gradient-to-br from-[#efdece] to-[#b59f89];
  }
} */
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-6000 {
    animation-delay: 6s;
    animation-duration: 3s;
  }
}

.libre {
  font-family: "Abhaya Libre", sans-serif;
}
.aladin {
  font-family: 'Aladin', sans-serif;

}